<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newsLetter</title>
    <style>
        *{
            margin: 0; 
            padding :0; 
            box-sizing: border-box;
        }
        body {
            background : rgb(170, 165, 165); 
            font-family : Arial,sans-serif;
            font-size: 30px;
            overflow:hidden;
            
        }
        .myBody{
            width: 100%; 
            height: 100vh; 
            display: flex; 
            justify-content: center; 
            align-items: center;
        }
        form{
            background: white; 
            border-radius: 15px; 
            
            display:flex; 
            flex-direction: column; 
            justify-content: space-around; 
            align-items: stretch;
            overflow:hidden;
            animation : shown 1s cubic-bezier(0.57, 0.32, 1, 1.37) forwards; 
            font-weight: 700; 
            width: 350px;
            opacity: 0;
            transform : scale(4);
        }
        @keyframes shown{
            
            100%{
                transform: none;
                padding: 20px 40px;
                opacity: 1;
                -webkit-box-shadow: 5px 5px 22px 5px rgba(0,0,0,0.26); 
                box-shadow: 5px 5px 22px 5px rgba(0,0,0,0.26);
            }
            
        }
        form label, form input{
            display:block;
            

        }
        form button{
            height : 50px; 
            background :rgb(70, 48, 48);
            border: none; 
            color: white; 
            border-radius: 5px;
            font-weight: 700;
        }
        form button:hover {
            background:rgb(75, 59, 59);
        }
        form input {
            height : 40px;
            border-radius: 5px;
            margin-bottom : 30px;
        }
    </style>
</head>