<%-include('header')-%>
<body>
    <div class ="myBody">
        <% if (news===true){ %>
            <%- include('subscribing') -%>
        <% } else{ %>
           <%- include('result') -%>
        <%}%>
    </div>
</body>
</html>